@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap%27");


* {
    font-family: 'Heebo', sans-serif;
    color: white;
}

body {
    background-image: url("https://img.wallpapersafari.com/desktop/728/410/59/52/0kjwKe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 4rem;
}

.left {
    position: absolute;
    bottom: 0;
    height: 20rem;
    left: 0;
}

.right {
    position: absolute;
    bottom: 0;
    height: 20rem;
    right: 0;
    -webkit-transform: scaleX(-1);
}



.ball-div {
    background-color: red;
    border-radius: 100%;
    left: calc(50% - 70px);
    position: absolute;
    right: calc(50% - 30px);
    animation: bounce 1s ease-in-out infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
    height: 6rem;
    width: 6rem;
}

.ball-span {
    border-radius: 100%;
    bottom: 32.5%;
    left: calc(50% - 50px);
    right: calc(50% - 50px);
    position: absolute;
    content: '';
    background-color: black;
    filter: blur(3px);
    width: 50px;
    height: 5px;
    animation: shadow 1s ease-in-out infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
    z-index: -1;
    top: 95%;
}

@keyframes bounce {
    from {
        top: 60%;
        transform: scaleX(79.5%) scaleY(65%);
    }

    to {
        top: 90%;
    }
}

@keyframes shadow {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: .5;
        transform: scale(100%);
    }
}